body {
  background-color: white;
}

.section-cy-1 {
  min-height: 40vh;
  background: linear-gradient(to bottom, #FF6600, #fc4a1a);
}

.section-cy-2 {
  background-color: white;
  min-height: 50vh;
}
