body {
  background-color: white;
}

.section-sa-1 {
  min-height: 40vh;
  background: linear-gradient(to bottom, #FF6600, #fc4a1a);
}

.section-sa-2 {
  min-height: 70vh;
  background-color: white;
}

.security {
  background-color: #ddd;
}

.accessibility {
  background-color: #ddd;
}