body {
  background-color: white;
}

.section-sa-1 {
  min-height: 50vh;
  background: linear-gradient(to bottom, #FF6600, #fc4a1a);
  @media (max-width: 640px) {
    min-height: 35vh;
  }
}

.section-sa-2 {
  min-height: 70vh;
  background-color: white;
}

.security {
  background-color: #ddd;
}

.accessibility {
  background-color: #ddd;
}