body {
  background-color: white;
}

.section-cu-1 {
  min-height: 60vh;
  background: linear-gradient(to bottom, #FF6600, #fc4a1a);
}

.section-cu-2 {
  min-height: 30vh;
  background-color: white;
}

.section-cu-3 {
  background-color: white;
}

.content-container-cu {
  background: linear-gradient(to bottom, #FF6600, #fc4a1a);
  border: none;
  clip-path: ellipse(75% 100% at center top);
  min-height: 300px;
  @media (max-width: 640px) {
    min-height: 175px;
  }
}