body {
  background-color: white;
}

.section-cu-1 {
  min-height: 60vh;
  background: linear-gradient(to bottom, #FF6600, #fc4a1a);
}

.section-cu-2 {
  min-height: 30vh;
  background-color: white;
}

.section-cu-3 {
  background-color: white;
}
