body {
  background-color: white;
}

.section-cb-1 {
  min-height: 60vh;
  background: linear-gradient(to bottom, #FF6600, #fc4a1a);
}

.section-cb-2 {
  min-height: 30vh;
  background-color: white;
}

.section-cb-3 {
  background-color: white;
}
