body {
  background-color: white;
}

.section-st-1 {
  min-height: 70vh;
  background: linear-gradient(to bottom, #FF6600, #fc4a1a);
}

.section-st-2 {
  min-height: 30vh;
  background-color: white;
}

.section-st-3 {
  background-color: white;
}