body {
  background-color: white;
}

.section-st-1 {
  min-height: 70vh;
  background: linear-gradient(to bottom, #FF6600, #fc4a1a);
}

.section-st-3 {
  background-color: white;
}

.section-st-4 {
  background-color: white;
}

.content-container-st {
  background: linear-gradient(to bottom, #FF6600, #fc4a1a);
  border: none;
  clip-path: ellipse(75% 100% at center top);
  min-height: 300px;
  @media (max-width: 640px) {
    min-height: 175px;
  }
}